#stars-cont{
    width: min-content;
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

.good-star{
    background: url("../resources/yellow-star.png");
    background-size: cover;
    height: 24px;
    width: 24px;
}

.bad-star{
    background: url("../resources/blank-star.png");
    background-size: cover;
    height: 24px;
    width: 24px;
}