#create-comment-btn{
    background: #000000;
    border-radius: 4px;
    width: 160px;
    height: 32px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    align-self: center;
}

#create-form-wrapper{
    height: 0;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    grid-column: span 2;
}

#create-comment-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    padding: 25px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#comment-text-ipt{
    grid-column: span 2;
}

#user-rating{
    display: flex;
}

#comment-text-ipt{
    height: 192px;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 1rem;
}

#comment-add-btn{
    background: #000000;
    border-radius:  0 0 4px 0;
    width: 64px;
    height: 32px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #FFFFFF;
    justify-self: end;
}