#stars-cont{
    width: min-content;
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

#review-count{
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #B8B8B8;
}