#rec-section-title{
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: justify;
    color: #000000;
    grid-column: span 2;
    margin-top: 1.5rem;
}

#rec-cont{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(5,200px);
    grid-auto-rows: 400px;
    column-gap: 40px;
    row-gap: 20px;
    width: 100%;
    grid-column: span 2;
    overflow-y: auto;
}

.rec-item{
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1fr 64px 48px 24px;
    row-gap: 1px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    animation: fade-in 2.5s ease-in-out;
}

.rec-item:hover{
    border:3px solid blue;
    box-shadow: 0 0 3px blue;
}

.rec-poster{
    display: grid;
    align-items: center;
    justify-content: center;
    background: #818181;
    border-radius: 3px 3px 0 0;
}

.rec-title{
    font-size: 1.25rem; 
    font-weight: 700;
    overflow: auto;
}

.rec-title::-webkit-scrollbar{
    display: none;
}

.rec-author{
    font-size: 1rem; 
    font-weight: 500;
    overflow: auto;
}

.rec-author::-webkit-scrollbar{
    display: none;
}

.rec-price{
    font-size: 12px; 
    font-weight: 400;
}

.rec-item > p{
    margin: 0;
}

.rec-loading{
    width: 64px;
    height: 64px;
    justify-content: center;
    background: url("../resources/rec-loading.gif");
    background-size: cover;
}

@keyframes fade-in {
    from {opacity: 0}
    to {opacity: 1}
}