#list-sel{
    width: 128px;
    height: 100%;
    justify-self: end;
    border-radius: 12px;
    padding-left: 6px;
}

#create-list-btn{
    width: 24px;
    height: 100%;
    font-size: 2rem;
    font-weight: bold;
    padding: 0;
    line-height: 2rem;
    border:1px solid transparent;
    background-color: transparent;
    transition: all 0.1s ease;
    user-select: none;
}

#create-list-btn:hover{
    scale: 1.25;
    border:1px solid white;
    box-shadow: white 0 0 15px;
    border-radius: 6px;
}

#create-list-btn:active{
    scale: 0.6;
}

#fav-btn-add{
    background: url("../resources/fav-add-image.png") no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    justify-self: end;
    border:1px solid transparent;
    transition: all 0.1s ease-in-out;
    user-select: none;
}

#fav-btn-add:hover{
    scale: 1.25;
    border:1px solid white;
    box-shadow: white 0 0 15px;
    border-radius: 6px;
}

#fav-btn-add:active{
    scale: 0.6;
}

#fav-btn-added{
    display: block;
    background: url("../resources/fav-added-image.png") no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    justify-self: end;
    border:1px solid transparent;
    transition: all 0.1s ease-in-out;
    user-select: none;
}

#fav-btn-added:hover{
    scale: 1.25;
    border:1px solid white;
    box-shadow: white 0 0 15px;
    border-radius: 6px;
}

#fav-btn-added:active{
    scale: 0.6;
}