#fav-cont{
    display: none;
    justify-content: end;
    align-items: center;
}

#show-create-fav-form{
    width: 24px;
    height: 40px;
    font-size: 2rem;
    font-weight: bold;
    padding: 0;
    line-height: 2rem;
    border:1px solid transparent;
    background-color: darkgray;
    border-radius: 0 12px 12px 0;
    transition: all 0.1s ease;
    user-select: none;
    color: white;
}

#show-create-fav-form:hover{
    scale: 1.25;
    border:1px solid white;
    box-shadow: white 0 0 15px;
    border-radius: 6px;
}

#show-create-fav-form:active{
    scale: 0.6;
}

#fav-btn-add{
    background: url("../resources/fav-add-image.png") no-repeat;
    background-size: cover;
    width: 29px;
    height: 24px;
    margin-left: 12px;
    justify-self: end;
    border:1px solid transparent;
    transition: all 0.1s ease-in-out;
    user-select: none;
}

#fav-btn-add:hover{
    scale: 1.25;
    border:1px solid white;
    box-shadow: white 0 0 15px;
    border-radius: 6px;
}

#fav-btn-add:active{
    scale: 0.6;
}

#fav-btn-added{
    display: block;
    background: url("../resources/fav-added-image.png") no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    justify-self: end;
    border:1px solid transparent;
    transition: all 0.1s ease-in-out;
    user-select: none;
}

#fav-btn-added:hover{
    scale: 1.25;
    border:1px solid white;
    box-shadow: white 0 0 15px;
    border-radius: 6px;
}

#fav-btn-added:active{
    scale: 0.6;
}