@media (min-width: 992px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.book_card {
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.book_card:hover {
  scale: 1.05;
}

#more_btn {
  background-color: #00c5a1;
  cursor: pointer;
  transition: 0.3s;
}

#more_btn:hover {
  background-color: #00886f;
}

.book-info {
  height: 0;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  background: rgb(27, 27, 27, 0.5);
  position: absolute;
  visibility: hidden;
  overflow-y: scroll;
  transition: linear 0.3s;
}

.book_img {
  height: 400px;
}

.book-info p {
  color: white;
}

.book_card:hover .book-info {
  background: black;
  visibility: visible;
  height: 400px;
}
